

:root{
    --additional-color: #7E6DE4;
    --additional-color-hover: #6B5CD6;
    --white: white;
    --grey: #888;
    --text-color: black;
    


    /*transition*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

*{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
}

/* main divs holder (story and comments divs holder) */
.story-comments-item{
    width: fit-content;
    display: flex;
    flex-direction: row;
}

body{
    transition: var(--tran-04);
}

body.dark{
    --white: #242526;
    --text-color: #fff;
}

.story-item {
    height: 67vh;
    width: 40vw;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    background-color: var(--white);
    margin-left: 18vw;
    padding-bottom: 2vh;
    z-index: 100;
    transition: var(--tran-04);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story-item.comments-opened{
    margin-left: 5vw;
    transition: var(--tran-04);
}

.story-item.full-story-opened{
    margin-left: 5vw;
    transition: var(--tran-04);
}

.story-title {
    margin-top: 2vh;
    margin-left: 2vw;
    font-size: 1.5rem;
    white-space: nowrap;
    color: var(--text-color);
}

.story-release-date {
    margin-top: 2vh;
    margin-right: 2vw;
    height: fit-content;
    font-size: 18px;
    text-align: right;
    color: var(--grey);
}

.title-date-div {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.story-image {
    max-height: 50vh;
    width: 98%;
    margin-top: 2%;
    border-radius: 1rem;
    overflow: hidden;
    margin-left: 1%;
    margin-right: 1%;
}

.comment-btn{
    appearance: none;
    border: none;
    cursor: pointer;
    background-color: var(--white);
}

.comment-btn i{
    font-size: 3.5vh;
    color: var(--text-color);
}

.like-btn{
    gap: 0.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    appearance: none;
    border: none;
    cursor: pointer;
    background-color: var(--white);
    color: var(--text-color);
}

.like-btn i{
    color: var(--text-color);
    font-size: 4vh;
}

.like-btn i.clicked{
    color: var(--additional-color);
}

.story-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    position: relative;
}

.read-btn{
    background: var(--additional-color);
    border-radius: 50px;
    appearance: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.read-btn img{
    background-color: var(--additional-color);
    width: 3vh;
}

.bottom-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* full story */
.full-story{
    height: 67vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--white);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -39vw;
    z-index: 5;
    transition: opacity var(--tran-04) 0.5s;
    display: none;
}

.full-story.full-story-opened{
    margin-left: 0vw;
    transition: var(--tran-04);
    display: block;
}

.full-story-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#full-story-title{
    margin-left: 1vw;
    margin-top: 1vh;
}

#full-story-text{
    padding-left: 1vw;
    padding-top: 1vh;
    padding-right: 1vw;
    overflow: auto;
    height: 60vh;
}

/* comments */
.comments{
    height: 67vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--white);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -39vw;
    z-index: 0;
    transition: opacity var(--tran-04) 0.5s;
    opacity: 0;
}

.comments.comments-opened{
    margin-left: 0vw;
    transition: var(--tran-04);
    opacity: 1;
}

.comment{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.comment-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

h2, .close-comments-btn, .close-full-story-btn, p, h4, h5{
    color: var(--text-color);
}

textarea{
    background-color: white;
}

/* comments page header */
.comments-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#comments-title{
    margin-left: 1vw;
    margin-top: 1vh;
}

.close-comments-btn, .close-full-story-btn{
    font-size: 3vh;
    margin-right: 1vw;
    margin-top: 1vh;
}

.close-comments-btn:hover, .close-full-story-btn:hover{
    cursor: pointer;
}

.comments-list{
    height: 53vh;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 1vh 1vw;
}

/* comment input */
.comment-input {
    width: 29vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding: 0.5vh 0.5vw;
    border: 1px solid #ccc;
    border-radius: 5vh;
    background-color: var(--white);
}

.comment-input textarea {
    width: 20vw;
    height: 4.5vh;
    padding: 8px;
    border: none;
    resize: none;
    overflow-y: auto;
    outline: none;
    font-size: 1.8vh;
    background-color: var(--white);
}

.comment-input button {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: var(--additional-color);
    color: #fff;
    border: none;
    border-radius: 5vh;
    cursor: pointer;
}

.comment-input button:hover {
    background-color: var(--additional-color-hover);
}

.send-btn{
    font-size: 2vh;
}